%h1 File Statistics

%dl
  - if repository.latest_commit
    %dt Total files
    %dd= repository.latest_commit.files.size

    %dt Average file size
    %dd
      #{float_number(repository.latest_commit.average_file_size)}
      lines of code

%h2 File Count

= large_line_chart(repository, :files_count, "Files")

%h2 Average Lines of Code per File

= large_line_chart(repository, :lines_of_code_per_file_per_day, "LOC/file")

%h2 Most Changed Files

= table(repository, :files_with_most_revisions, {filename: "File", revisions: "Revisions", size: "Size"})

%h2 Largest Files

= table(repository, :largest_files, {filename: "File", revisions: "Revisions", size: "Size"})
