%h1 File Statistics

%dl
  - if repository.latest_commit
    %dt Total files
    %dd= repository.latest_commit.files.size

    %dt Average file size
    %dd
      #{float_number(repository.latest_commit.average_file_size)}
      lines of code

    - if repository.tests_repository
      %dt Ratio of tests to code
      %dd= percent(repository.latest_commit.ratio_of_tests_to_code)

%h2 File Count

= line_chart(repository, :files_count, "Files")

%h2 Average Lines of Code per File

= line_chart(repository, :lines_of_code_per_file_per_day, "LOC/file")

%h2 Ratio of tests to code

= line_chart(repository, :ratio_of_tests_to_code_per_day, "Test/Code ratio")

%h2 Most Changed Files

= table(repository, :files_with_most_revisions, {filename: "File", revisions: "Revisions", contributors: "Contributors", size: "Size"})

%h2 Largest Files

= table(repository, :largest_files, {filename: "File", revisions: "Revisions", contributors: "Contributors", size: "Size"})

%h2 Most Contributed Files

= table(repository, :files_with_most_contributors, {filename: "File", revisions: "Revisions", contributors: "Contributors", size: "Size"})
