%h1= repository.url

%dl
  %dt Commits
  %dd= repository.commits.length

  - if repository.commits.any?
    %dt Latest commit
    %dd= commit_link(repository.commits.last)

    %dt Report period
    %dd
      = date(repository.commits.first.author_date)
      to
      = date(repository.commits.last.author_date)

    %dt Total files
    %dd= repository.latest_commit.files.length

    %dt Total lines of code
    %dd= repository.latest_commit.lines_of_code

  %dt Developers
  %dd= repository.authors.length


