%h1= repository.url

%dl
  %dt Commits analysed
  %dd
    = repository.analysed_commits.count
    - if repository.commits.any?
      (#{percent(repository.analysed_commits.count / repository.commits.count.to_f)} out of #{repository.commits.count} total)

  - if repository.commits.any?
    %dt Latest commit
    %dd
      = commit_link(repository.latest_commit)
      %br
      %i= repository.latest_commit.subject

    - if repository.latest_commit != repository.analysed_commits.last
      %dt Last analysed commit
      %dd
        = commit_link(repository.analysed_commits.last)
        %br
        %i= repository.analysed_commits.last.subject

    %dt Report period
    %dd
      = iso_date(repository.analysed_commits.first.author_date)
      to
      = iso_date(repository.analysed_commits.last.author_date)
      (#{(repository.analysed_commits.last.author_date.to_date - repository.analysed_commits.first.author_date.to_date).to_i} days)

    %dt Total files
    %dd= link_to repository.latest_commit.files.count, link_for(FilesReport)

    %dt Total lines of code
    %dd= repository.latest_commit.lines_of_code

    - if repository.tests_repository
      %dt Ratio of tests to code
      %dd= link_to percent(repository.latest_commit.ratio_of_tests_to_code), link_for(FilesReport)

    %dt Unresolved issues
    %dd
      #{link_to "#{repository.latest_commit.todos} TODOs", link_for(UnresolvedReport)},
      #{link_to "#{repository.latest_commit.fixmes} FIXMEs", link_for(UnresolvedReport)}

    %dt SASS Rules
    %dd= link_to repository.latest_commit.sass_rules, link_for(SassReport)

    %dt Lines of code touched this month
    %dd= link_to repository.lines_of_code_touched_this_month, link_for(ChurnReport)

  %dt Authors
  %dd= link_to repository.authors.count, link_for(AuthorsReport)

%ul
  %li= link_to "Authors", link_for(AuthorsReport)
  %li= link_to "Files", link_for(FilesReport)
  %li= link_to "Unresolved Issues", link_for(UnresolvedReport)
  %li= link_to "Churn", link_for(ChurnReport)

%h2 Lines of Code

= line_chart(repository, :lines_of_code_per_day, labels: "LOC", title: "Lines of Code")

%h2 Languages

= pie_chart(repository, :latest_commit_languages, title: "Lines of Code")

%h2 Top Authors

= pie_chart(repository, :commits_per_author, title: "Commits")

%h2 Total Ownership

= pie_chart(repository, :total_ownership_per_author, title: "Ownership")
