%h1= repository.url

%dl
  %dt Commits
  %dd= repository.commits.length

  - if repository.commits.any?
    %dt Latest commit
    %dd
      = commit_link(repository.commits.last)
      %br
      %i= repository.commits.last.subject

    %dt Report period
    %dd
      = iso_date(repository.commits.first.author_date)
      to
      = iso_date(repository.commits.last.author_date)
      (#{(repository.commits.last.author_date.to_date - repository.commits.first.author_date.to_date).to_i} days)

    %dt Total files
    %dd= link_to repository.latest_commit.files.length, "files.html"

    %dt Total lines of code
    %dd= repository.latest_commit.lines_of_code

  %dt Authors
  %dd= link_to repository.authors.length, "authors.html"

%ul
  %li= link_to "Authors", "authors.html"
  %li= link_to "Files", "files.html"

%h2 Lines of Code

= line_chart(repository, :lines_of_code_per_day, "LOC")

%h2 Languages

= pie_chart(repository, :latest_commit_languages, "Lines of Code")

%h2 Top Authors

= pie_chart(repository, :commits_per_author, "Commits")
