%h1= repository.url

%dl
  %dt Commits
  %dd
    = repository.analysed_commits.length
    - if repository.commits.any?
      (#{percent(repository.analysed_commits.length / repository.commits.length)} out of #{repository.commits.length} total)

  - if repository.commits.any?
    %dt Latest commit
    %dd
      = commit_link(repository.commits.last)
      %br
      %i= repository.commits.last.subject

    %dt Report period
    %dd
      = iso_date(repository.analysed_commits.first.author_date)
      to
      = iso_date(repository.analysed_commits.last.author_date)
      (#{(repository.analysed_commits.last.author_date.to_date - repository.analysed_commits.first.author_date.to_date).to_i} days)

    %dt Total files
    %dd= link_to repository.latest_commit.files.length, link_for(FilesReport)

    %dt Total lines of code
    %dd= repository.latest_commit.lines_of_code

    %dt TODOs
    %dd= link_to repository.latest_commit.todos, link_for(TodosReport)

    %dt SASS Rules
    %dd= link_to repository.latest_commit.sass_rules, link_for(SassReport)

  %dt Authors
  %dd= link_to repository.authors.length, link_for(AuthorsReport)

%ul
  %li= link_to "Authors", link_for(AuthorsReport)
  %li= link_to "Files", link_for(FilesReport)
  %li= link_to "TODOs", link_for(TodosReport)

%h2 Lines of Code

= line_chart(repository, :lines_of_code_per_day, "LOC")

%h2 Languages

= pie_chart(repository, :latest_commit_languages, "Lines of Code")

%h2 Top Authors

= pie_chart(repository, :commits_per_author, "Commits")
