/ TODO this is copy and pasted a lot, refactor it out!

.div{id: div_name, style: "width: #{width}px; height: #{height}px;"}
%small.benchmark Rendered in #{(benchmark * 1000).to_i} ms

%script{type: "text/javascript"}
  - method_name = "draw_#{div_name}"

  :plain
    // Load the Visualization API and the piechart package.
    google.load("visualization", "1.0", {"packages": ["corechart"]});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(#{method_name});

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function #{method_name}() {

      // Create the data table.
      var data = google.visualization.arrayToDataTable([
        ["Date", "#{heading.respond_to?(:each) ? heading.join("\", \"") : heading}"],

        #{
          data.map do |key, values|
            # TODO use an actual escaping thing
            (["\"#{key}\""] + values).join(", ")
          end.map { |row| "[#{row}]" }.join(",\n")
        }
      ]);

      // Set chart options
      var options = {
        width: #{width},
        height: #{height},
        hAxis: {title: "Date"},
        vAxis: {minValue: 0},
        chartArea: {width: "70%", height: "70%", left: 100, top: 25}
      };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.LineChart(document.getElementById("#{div_name}"));
      chart.draw(data, options);
    }
