%script{type: "text/javascript"}
  :plain
    function #{method_name}() {
      // Create the data table.
      var data = google.visualization.arrayToDataTable([
        ["#{title}", "Value"],

        #{
          data.map do |key, value|
            # TODO use an actual escaping thing
            "[\"#{key}\", #{value.first}]"
          end.join(",\n")
        }
      ]);

      // Set chart options
      var options = {
        width: #{width},
        height: #{height},
        title: "#{title}",
        chartArea: {width: "80%", height: "80%", left: 25, top: 25}
      };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById("#{div_name}"));
      chart.draw(data, options);
    }

= render_partial("_common_chart", arguments)

