%script{type: "text/javascript"}
  :plain
    function #{method_name}() {
      // Create the data table.
      var data = google.visualization.arrayToDataTable([
        ["Date", "#{title}"],

        #{
          data.map do |date, values|
            ([
              "new Date(#{date[0, 4]}, #{date[5, 2]} - 1, #{date[8, 2]})"
            ] + values).join(", ")
          end.map { |row| "[#{row}]" }.join(",\n")
        }
      ]);

      // Set chart options
      var options = {
        width: #{width},
        height: #{height},
        hAxis: {title: "Date"},
        vAxis: {title: "#{title}", minValue: 0},
        legend: "none",
        chartArea: {width: "80%", height: "55%", left: 50, top: 25}
      };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.ScatterChart(document.getElementById("#{div_name}"));
      chart.draw(data, options);
    }

= render_partial("_common_chart", arguments)
