- div_name = "chart_#{method}_#{Random.rand(0xffff)}"
.div{id: div_name, style: "width: #{width}px; height: #{height}px;"}
%small.benchmark Rendered in #{(benchmark * 1000).to_i} ms

%script{type: "text/javascript"}
  - method_name = "draw_#{div_name}"

  :plain
    // Load the Visualization API and the piechart package.
    google.load("visualization", "1.0", {"packages": ["corechart"]});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(#{method_name});

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function #{method_name}() {

      // Create the data table.
      var data = google.visualization.arrayToDataTable([
        ["Date", "#{title}"],

        #{
          data.map do |date, values|
            ([
              "new Date(#{date[0, 4]}, #{date[5, 2]} - 1, #{date[8, 2]})"
            ] + values).join(", ")
          end.map { |row| "[#{row}]" }.join(",\n")
        }
      ]);

      // Set chart options
      var options = {
        width: #{width},
        height: #{height},
        hAxis: {title: "Date"},
        vAxis: {title: "#{title}", minValue: 0},
        legend: "none",
        chartArea: {width: "80%", height: "55%", left: 50, top: 25}
      };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.ScatterChart(document.getElementById("#{div_name}"));
      chart.draw(data, options);
    }
