%script{type: "text/javascript"}
  :plain
    function #{method_name}() {
      // Create the data table.
      var data = google.visualization.arrayToDataTable([
        ["Date", "#{labels.respond_to?(:each) ? labels.join("\", \"") : labels}"],

        #{
          data.map do |key, values|
            # TODO use an actual escaping thing
            (["\"#{key}\""] + values).join(", ")
          end.map { |row| "[#{row}]" }.join(",\n")
        }
      ]);

      // Set chart options
      var options = {
        width: #{width},
        height: #{height},
        hAxis: {title: "Date"},
        vAxis: {minValue: 0},
        isStacked: true,
        chartArea: {width: "65%", height: "70%", left: 100, top: 25}
      };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.AreaChart(document.getElementById("#{div_name}"));
      chart.draw(data, options);
    }

= render_partial("_common_chart", arguments)

