%table.statistics
  %thead
    %tr
      - labels.each do |key, title|
        %th{class: key}= title

  %tbody
    - data.each do |key, values|
      %tr
        - labels.each do |key, title|
          %td{class: key}
            - case key
              - when :size
                = kb_size values[key]
              - when :filename
                = blob_link values[key]
              - when :author
                = render_shared "author", email: values[key].email
              - when :last_commit
                = iso_date(values[key].date)
              - when :ownership
                = "#{values[key] * 100.0}%"
              - else
                = values[key]

    - if data.empty?
      %tr.empty
        %td{ colspan: labels.length }
          %i
            Nothing!

%small.benchmark Rendered in #{(benchmark * 1000).to_i} ms
