- author = selector

%h1 #{author.email}

%dl
  %dt Name
  %dd= author.name

  - if author.analysed_commits.any?
    %dt First commit
    %dd
      = commit_link(author.analysed_commits.first)
      %br
      %i= author.analysed_commits.first.subject

    %dt Last commit
    %dd
      = commit_link(author.analysed_commits.last)
      %br
      %i= author.analysed_commits.last.subject

  %dt Commits
  %dd= author.analysed_commits.count

  %dt Changes
  %dd= author.changes

%h2 Commit Activity

= scatter_chart(author, :commit_activity, title: "Hour")

%h2 Commits Per Day

= histogram_chart(author, :commits_per_day, labels: "Commits", title: "Commits per Day")

%h2 Commits Per Hour

= histogram_chart(author, :commits_per_hour, labels: "Commits", title: "Commits per Hour", options: { width: 800, height: 300})

%h2 Changes Per Hour

= histogram_chart(author, :changes_per_hour, labels: ["Additions", "Deletions"], title: "Commits per Hour", options: { width: 800, height: 300, vertical_labels: "Changes", stacked: true })

%h2 Most Owned Files

= table(author, :most_owned_files, labels: {filename: "File", ownership: "Ownership", revisions: "Revisions", contributors: "Contributors", size: "Size"})
