%h1 #{repository.authors.count} Authors

%h2 Commit Activity

= scatter_chart(repository, :commit_activity, title: "Hour")

%h2 Commits Per Day

= histogram_chart(repository, :commits_per_day, heading: "Commits", title: "Commits per Day")

%h2 Commits Per Hour

= histogram_chart(repository, :commits_per_hour, heading: "Commits", title: "Commits per Hour", options: { width: 800, height: 300 })

%h2 Changes Per Hour

= histogram_chart(repository, :changes_per_hour, heading: ["Additions", "Deletions"], title: "Commits per Hour", options: { width: 800, height: 300, vertical_heading: "Changes", stacked: true })

%h2 Top Authors

= table(repository, :top_authors, labels: {author: "Author", commits: "Commits", changes: "Changes", last_commit: "Last Commit"})
